@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.header-inner {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: 127px;
  height: 24px;
}

.main-nav ul {
  display: flex;
  gap: 80px;
  list-style: none;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.main-nav a:hover {
  color: #4a4a4a;
}
.auth a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.auth a:hover {
  color: #4a4a4a;
}

.menu-icon {
  display: block;
}

.menu-icon img {
  width: 37px;
  height: 37px;
  cursor: pointer;
}

/* 메인 비주얼 */
.main-visual {
  height: 700px;
  background: url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-align: left;
  padding: 0 60px;
  padding-top: 80px;
}
.main_con {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}
.visual-text {
  text-align: left;
  max-width: 600px;
}
.visual-text h2 {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
}

.visual-text p {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.price {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: baseline;
  margin-bottom: 40px;
}

.discount {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.original {
  text-decoration: line-through;
  opacity: 0.8;
}

.sale {
  font-size: 20px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

/* 두번째 섹션 */
.package-section {
  position: relative;
  margin: 100px auto;
  padding: 0 60px;
  max-width: 1520px;
  margin-bottom: 200px;
}

.package-title {
  font-size: 24px;
  font-weight: bold;
  color: #1c3f74;
  margin-bottom: 10px;
  text-align: center;
}

.package-sub {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 100px;
  text-align: center;
}

.package-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.package-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  color: #323232;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: transform 0.3s;
  cursor: pointer;
}

.package-card:hover {
  transform: translateY(-5px);
}

.package-card img {
  width: 400px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.package-card .tag {
  font-size: 13px;
  color: #b1b1b1;
  margin-bottom: 4px;
}

.package-card h3 {
  font-size: 16px;
  margin-bottom: 12px;
}

.price-info {
  display: flex;
  gap: 12px;
  align-items: baseline;
  font-size: 14px;
}

.price-info .discount {
  color: #40a3ff;
  font-weight: bold;
}

.price-info .original {
  text-decoration: line-through;
  opacity: 0.5;
}

.price-info .sale {
  font-weight: bold;
  color: #40a3ff;
}

.arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 32px;
  color: #535353;
  cursor: pointer;
  z-index: 10;
}
.arrow-left {
  left: -100px;
}
.arrow-right {
  right: -100px;
}
/* 북마크 */
.package-card .img-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.package-card .img-wrapper img {
  width: 100%;
  display: block;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background: none;
  border-radius: 50%;
  padding: 5px;
  z-index: 10;
  transition: background 0.3s;
  text-decoration: none;
}

.bookmark-icon:hover {
  transform: scale(1.2);
  background: none;
}

/* 세번째 섹션 */
.coupon-section {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1520px;
  text-align: center;
}

.coupon-title {
  font-size: 24px;
  font-weight: bold;
  color: #1c3f74;
  margin-bottom: 10px;
}

.coupon-sub {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 100px;
}

.coupon-sec {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.coupon-sec img {
  width: 513px;
  height: 404px;
  object-fit: cover;
  display: block;
  margin: 0;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  color: #323232;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: transform 0.3s;
  margin-bottom: 200px;
  border-radius: 30px;
}

.coupon-sec img:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.coupon-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: #535353;
  cursor: pointer;
  z-index: 10;
  left: -100px;
}
.coupon-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: #535353;
  cursor: pointer;
  z-index: 10;
  right: -100px;
}
/* 네번째 섹션 */
.tema-section {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1520px;
  text-align: center;
}

.tema-title {
  font-size: 24px;
  font-weight: bold;
  color: #1c3f74;
}

.tema-sub {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 100px;
}

.tema-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1520px;
  margin-bottom: 200px;
}

.tema-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  color: #323232;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: transform 0.3s;
  cursor: pointer;
}

.tema-item:hover {
  transform: translateY(-5px);
}

.tema-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  border-radius: 30px;
}

.tema-text {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
}

.tema-title-ko {
  font-size: 36px;
  font-weight: bold;
}

.tema-title-en {
  font-size: 20px;
}

/* 배너영역 */
.banner-section {
  position: relative;
  width: 100vw;
  height: 212px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 200px;
}

.banner-section img {
  width: 100%;
  height: 212px;
  object-fit: cover;
  display: block;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}

/* 다섯번째 섹션 */
.aipackage-section {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1520px;
  text-align: center;
}

.package-title {
  font-size: 24px;
  font-weight: bold;
  color: #1c3f74;
}

.package-sub {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 100px;
}

.aipakage-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  justify-content: center;
}
.aipackage-card {
  background: #fff;
  border-radius: 10px;
  color: #323232;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: transform 0.3s;
  cursor: pointer;
  height: auto;
  margin-bottom: 100px;
}

.aipackage-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
}

.aipackage-card > h3 {
  font-size: 16px;
  margin-bottom: 12px;
  text-align: left;
}

.aipackage-card:hover {
  transform: translateY(-5px);
}

/* 북마크 영역 */
.aipackage-card .img-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.package-card .img-wrapper img {
  width: 100%;
  display: block;
}

/* 상품 더보기 버튼 */
.package-btn {
  width: 150px;
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 200px;
}
.package-btn a {
  text-decoration: none;
  color: #323232;
}

/* 리뷰영역 */
.review-section {
  text-align: center;
  padding: 100px 60px;
  background-color: #fff;
}

.review-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.trip-review {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background: #f9f9f9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  cursor: pointer;
}

.trip-review img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.review-info {
  padding: 20px;
  text-align: left;
}

.review-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 10px;
}
.review-info > p {
  color: #d2d2d2;
  font-size: 15px;
}

.trip-review:hover {
  transform: translateY(-5px);
}

/* 푸터영역 */

.site-footer {
  background-color: #353535;
  color: #ffffff;
  padding: 50px 60px;
  font-size: 14px;
}

.footer-inner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-left p {
  line-height: 1.6;
  margin: 10px 0;
}

.footer-left small {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
}

.footer-center {
  flex: 1;
  text-align: center;
  margin-top: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-right a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
